{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Reset your password
{% endblock %}
{## Rana Naimat#}
{% block body %}
   <div class="row justify-content-center p-5 shadow bg-body my-5 rounded ">
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form action="." method="post">
            {% csrf_token %}
        {{ form|crispy }}
{#        <p><input type="submit" value="Send e-mail"></p>#}

                <button class="btn btn-outline-primary btn-lg" type="submit">
                    <i class="fa-solid fa-thumbs-up"></i> Send email
                </button>


    </form>
    </div>
{% endblock %}