{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Reset your password
{% endblock %}
{## Rana Naimat#}
{% block body %}
<div class="row justify-content-center p-5 shadow bg-body my-5 rounded ">
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}

            <div class="d-grid my-4 ">
                <button class="btn btn-outline-primary btn-lg" type="submit">
                    <i class="fa-solid fa-thumbs-up"></i> Change my password
                </button>
            </div>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}