{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}
    Home Page
{% endblock %}
{% block body %}

    <section class="container p-5 shadow my-5 bg-body rounded">

        <div class="row justify-content-center">
            <div class="col-lg-7 ">
                <h1> Home Page</h1>

                    <form action="#" method="get">
                        <div class="input-group mb-3 ">
                            <input type="text" class="form-control" placeholder="Search users" name="search-term"
                                   aria-label="Search Term" aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                    class="fas fa-search"></i>
                                Search
                            </button>
                        </div>
                    </form>



                {% if user.is_authenticated %}



                    {% if user.first_name == '' %}
                        <h3>Welcome {{ user.username }} !!</h3>
                    {% else %}
                        <h3> {{ user.first_name }} {{ user.last_name }}</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>


    </section>
{% endblock %}