{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}
    Home Page
{% endblock %}
{% block body %}

    <section class="container p-5 shadow my-5 bg-body rounded">

        <div class="row align-items-center">
            <div class="col-lg-7">
                <h1> Home Page</h1>



                {% if user.is_authenticated %}



                    {% if user.first_name == '' %}
                        <h3>Welcome {{ user.username  }}  !!</h3>
                    {% else %}
                        <h3> {{ user.first_name  }} {{ user.last_name  }}</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>


    </section>
{% endblock %}