{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
{## Rana Naimat#}
    <div class="container p-5 shadow my-5 bg-body rounded justify-content-center">
        <div>
            <div class="row ">
                <div class="col-6">
                    <h1>Register</h1>
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="col-9">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-outline-primary btn-lg" type="submit">
                            <i class="fas fa-sign-in-alt"></i> Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>





{% endblock %}