{% extends 'accounts/base.html' %}

{% block body %}
    <div class="container content-align-center">
        <div>
            <div class="row">
                <div class="col-6">
                    <h1>Register</h1>
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="col-9">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>





{% endblock %}