{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}

     <form action="" method="post">
         {% csrf_token %}
   {{ form|crispy }}
{#    {{ form.first_name.label }}#}
{#    {{ form.last_name.label }}#}
{#    {{ form.email.label }}#}
{#    {{ form.bio.label }}#}


     <button class="btn btn-outline-primary btn-lg" type="submit">
                                <i class="fas fa-sign-in-alt"></i> Update
                            </button>
     </form>

{% endblock %}