:root,
[data-bs-theme=light] {
  --bs-primary: #0d6efd;
  --background: #fafafa;
}
body{
    background-color: var(--background);
}
#top-div, #comment-header{
     background-color: var(--bs-primary);
     color: var(--background);
}
#search-term-msg{
    display: none;
}
.error-message {
  color: red;
  margin-top: 5px;
}
#go-to-search {
  margin-bottom: 1em;
  margin-top: -2em
}
ul#star-rating {
  list-style: none;
  padding: 0;
  margin: 0;
}
li.star {
  display: inline-block;
  margin: 0 5px;
  font-size: 24px;
  cursor: pointer;
}
#event-url{
    color: var(--background);
    text-decoration: none;
    :hover{
        color: var(--background);
        text-decoration: none;
    }
}
#results{
    background-color: #f4f4f4;
}
#search-result{
    background-color: var(--background);
    text-shadow: var(--background);
    border: solid var(--background);
    text-decoration: underline;
}
/*#footer-div {*/
/*    background: rgb(3, 174, 216);*/
/*    background: radial-gradient(circle, rgba(3, 174, 216, 1) 70%, rgba(3, 179, 225, 1) 79%, rgba(3, 176, 220, 1) 83%, rgba(2, 181, 229, 1) 87%, rgba(111, 194, 231, 0.4162790697674419) 92%, rgba(1, 187, 239, 1) 92%, rgba(29, 189, 237, 1) 93%, rgba(1, 185, 235, 1) 93%, rgba(5, 156, 185, 1) 100%, rgba(0, 212, 255, 1) 100%);*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    padding: 0 0;*/
/*    width: 100%;*/
/*    box-shadow: 0 0 1px var(--background);*/
/*}*/