{% extends "base.html" %}

{% block title %}
  {{ eventName }}
{% endblock %}

{% block search %}
  <button class="btn btn-danger" id="go-to-search">Search for Events</button>
{% endblock %}

{#TODO:#}
{#  add way to favorite/unfavorite #}

{% block body %}
  <section class="shadow p-5" id="results">
    <div class="card mb-3 {{ event_id }}">
      <div class="row g-0 align-items-center">
        <div class="col-sm-4">
          <img src="{{ imageLink}}" alt="event_img" class="card-img rounded p-1 img-fluid" id="event-img">
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8">
                <h3 class="card-title display-4" id="event-title">
                  {{ eventName }}
                </h3>
              </div>
              <div class="col-sm-4">
                <small class="fs-4 text-success fw-bold" id="date">
                  {{ localDate }}
                </small><br>
                <small class="fw-light fs-6 text-success" id="time">
                  {{ localTime }}
                </small>
              </div>
              <p class="card-text text-muted display-6" id="venue-name"> {{ venue }}</p>
              <p class="card-text text-muted " id="address"> {{ address }}<br> {{ cityState }}</p>
              <div>
                <div>
                  <div class="col-4-sm">
                    <a class="btn btn-primary" href=" {{ eventLink }}"  id="event-url" role="button" target="_blank">Find Tickets</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="list-group list-group-flush" id="comment-section">
        {#TODO:#}
        {#  add way to add comments #}
        <li class="list-group-item">
          {% if user.is_authenticated %}
            <!-- form for adding comment -->
            <!-- check if user has already left a comment -->
            {% if commentExists %}
              <div class="ms-2 me-auto text-center">
                You've already left a comment here
              </div>
            {% else %}
              <div class="ms-2 me-auto text-center">
                Add a Comment
              </div>
            {% endif %}
          {% else %}
            <!-- prompt to log in -->
            <div class="ms-2 me-auto text-center">
              Please log in to Add a comment
            </div>
          {% endif %}
        </li>
      {% if comments %}
        <!-- Array is not empty -->
        {% for comment in comments %}
          <li class="list-group-item">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ comment.user}}</div>
              {{ comment.comment }}
            </div>
          </li>
        {% endfor %}
      {% else %}
        <!-- Array is empty -->
        <li class="list-group-item disabled">
          <div class="ms-2 me-auto text-center">
            No Comments to Display
          </div>
        </li>
      {% endif %}
      </ul>

    </div>
  </section>
{% endblock %}

{% block script %}
  <script>
    $(function(){
      $('#go-to-search').click(function () {
        window.location.href = `/ticketmaster`;
      })
    });
  </script>
{% endblock %}