{% extends "base.html" %}

{% block title %}
  {{ eventName }}
{% endblock %}

{% block search %}
  <button class="btn btn-danger" id="go-to-search">Search for Events</button>
{% endblock %}

{#TODO:#}
{#  add way to favorite/unfavorite #}

{% block body %}
  <section class="shadow p-5" id="results">
    <div class="card mb-3 {{ event_id }}">
      <div class="row g-0 align-items-center">
        <div class="col-sm-4">
          <img src="{{ imageLink}}" alt="event_img" class="card-img rounded p-1 img-fluid" id="event-img">
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8">
                <h3 class="card-title display-4" id="event-title">
                  {{ eventName }}
                </h3>
              </div>
              <div class="col-sm-4">
                <small class="fs-4 text-success fw-bold" id="date">
                  {{ localDate }}
                </small><br>
                <small class="fw-light fs-6 text-success" id="time">
                  {{ localTime }}
                </small>
              </div>
              <p class="card-text text-muted display-6" id="venue-name"> {{ venue }}</p>
              <p class="card-text text-muted " id="address"> {{ address }}<br> {{ cityState }}</p>
              <div>
                <div>
                  <div class="col-4-sm">
                    <a class="btn btn-primary" href=" {{ eventLink }}"  id="event-url" role="button" target="_blank">Find Tickets</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="list-group list-group-flush" id="comment-section">
        <li class="list-group-item" id="comment-header">
          <div class="fw-bold h4 text-center">Comments</div>
        </li>
        {#TODO:#}
        {#  add way to add comments #}
        <li class="list-group-item">

          {% if user.is_authenticated %}
            <!-- form for adding comment -->
            <form id="comment-form" method="post" action="{% url 'update_comment' event_id %}">
              {% csrf_token %}
              <!-- Star rating scale container -->
              <ul id="star-rating">
                <li class="star" data-rating="1"><i class="bi bi-star"></i></li>
                <li class="star" data-rating="2"><i class="bi bi-star"></i></li>
                <li class="star" data-rating="3"><i class="bi bi-star"></i></li>
                <li class="star" data-rating="4"><i class="bi bi-star"></i></li>
                <li class="star" data-rating="5"><i class="bi bi-star"></i></li>
              </ul>
              <!-- Hidden input field to store the users rating -->
              <input type="hidden" name="rating" id="rating-input" value="">
              <div class="mb-3">
                <label for="comment-input" class="form-label">Comments:</label>
                <textarea class="form-control" id="comment-input" name="comments" rows="3"></textarea>
              </div>
            </form>
            <!-- check if user has already left a comment -->
            <!--    if yes, prompts should autofill with current comment info -->
            <!--    if yes, should have options to update or delete comment -->
            {% if commentExists %}
              <div class="ms-2 me-auto text-center">
                You've already left a comment here
              </div>
            {% else %}
              <div class="ms-2 me-auto text-center">
                Add a Comment
              </div>

            {% endif %}
          {% else %}
            <!-- prompt to log in -->
            <div class="ms-2 me-auto text-center">
              Please log in to Add a comment
            </div>
          {% endif %}
        </li>
      {% if comments %}
        <!-- Array is not empty -->
        {% for comment in comments %}
          <li class="list-group-item">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ comment.user}}</div>
              {{ comment.comment }}
            </div>
          </li>
        {% endfor %}
      {% else %}
        <!-- Array is empty -->
        <li class="list-group-item disabled">
          <div class="ms-2 me-auto text-center">
            No Comments to Display
          </div>
        </li>
      {% endif %}
      </ul>

    </div>
  </section>
{% endblock %}

{% block script %}
  <script>
    $(function(){
      <!-- adds click function to return to search button -->
      $('#go-to-search').click(function () {
        window.location.href = `/ticketmaster`;
      });

      <!-- add star functionality -->
      const stars = $('.star');
      const ratingInput = $('#rating-input');
      stars.click(function() {
        let index = $(this).index();
        // Update the value of the hidden input field
        ratingInput.val(index + 1);

        // Remove 'checked' class from all stars
        stars.each(function(i, star) {
          $(star).children('.bi').removeClass('bi-star-fill');
          $(star).children('.bi').addClass('bi-star');
          // Add 'bi-star-fill', remove 'bi-star' class to the clicked star and all stars before it
          if (i <= index) {
            $(star).children('.bi').addClass('bi-star-fill');
            $(star).children('.bi').removeClass('bi-star');
          }
        });
      });

      <!-- if user has not commented yet -->
        <!-- add a submit button -->
      <!-- if user has a comment logged -->
    });
  </script>
{% endblock %}